<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark mb-5"
  style="padding: 0"
>
  <div class="container-fluid">
    <div id="container ">
      <img src="assets/logo.png" alt="Imagen 1" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse margin-b" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/characters/list"
            routerLinkActive="is-active"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/characters/create"
            routerLinkActive="is-active"
            >Crear</a
          >
        </li>
      </ul>
      <app-search *ngIf="ruta === '/characters/list'"></app-search>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
